<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JPM_138_JPA_Inheritence_JT/src/com/jp/inheritence/clients/ClientJT.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.jp.inheritence.clients.ClientJT"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JPM_138_JPA_Inheritence_JT"/>
</launchConfiguration>
